<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" id="com.jimmylevy.firstApp" versionCode="10" version="1.0.0">
  <name>
    Signal App
  </name>
  <description>
    Testing SignalR App
  </description>
  <author href="https://www.facebook.com/jimmy.levy.31" email="jimmyjlevy@hotmail.com">
    Jimmy Levy
  </author>

  <preference name="phonegap-version" value="cli-6.1.0" />
  <preference name="android-minSdkVersion" value="15" />
  <preference name="android-build-tool" value="gradle" />
  
</widget>
